:root {
  --headerHeight: 50px;
  --footerHeight: 50px;
  --mainHeight: calc(100vh - calc(var(--headerHeight) + var(--footerHeight)));
  --yellow-bg: #f8da5b;
  --blue-bg: #89CFF0;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #f9fafb;
  color: white;
}

h1,
h2,
h3,
ul {
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.flexCenterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

#contentWrapper{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 5fr 1fr / auto;
}

#header {
  background-color: var(--blue-bg);
  padding-left: 20px;
}

#main {
  display: grid;
  grid-template: 100px 2fr / 1fr;
}
#formWrapper{
  grid-column: 1 / 3;
}
#mainContentWrapper{
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-columns: repeat(auto-fix, minmax(250px, 1fr));
  gap: 15px;
}
.cardWrapper{
  padding: 1rem;
}
.card{
  height: 100%;
  width: 100%;
  background-color: #f4f6fc;
  color: #92a1b4;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.cardTitle{
  background-color: var(--blue-bg);
  color: white;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
}
.cardContent{
  display: grid;
  grid-template: auto / 1fr 2fr;
  padding: 1rem;
  gap: 1rem;
  flex-grow: 1;
}
.cardContent div{
  background-color: #ffffff;
  height: 100%;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}
.cardContent ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: space-between;
}
.cardUL li{
  background-color: #d3eaf8;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifWrapper{
  display: flex;
}
#weatherGIF, #gifWrapper {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
#apiLogo{
  margin-left: 0.5rem;
  width: 5rem;
}
#githubLogo{
  width: 2rem;
}

#footer {
  background-color: var(--blue-bg);
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
